tqdm
allennlp==0.9.0
torch
torchmetrics==0.6.0
transformers==4.16.2
overrides==3.1.0
requests==2.25.1
pytorch-lightning==1.4.9
omegaconf
hydra-core
ipdb
jsonlines
clearml==1.5.0
sklearn
datasets
astroid
scipy
